.wy-nav-content {
    margin: auto; /* Fix to make the content centered, not left-aligned */
}

body {
    color: #222222;
}

h1, h2 { /* Headers */
    letter-spacing: 0.1em;
    margin-top: 48px;
    margin-bottom: 24px;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
}

.parens { /* Parentheticals */
    color: #444444;
    font-size: 92%;
}

pre { /* Code blocks */
    background-color: #EEEEEE;
    white-space: pre-wrap !important;
}

.rst-content code.literal { /* inline `code` */
    color: #000030;
}

hr {
    margin: 12px !important;
}

.section ul {
    margin-bottom: 12px !important;
}

.highlight-dscript_red pre {
    border: 1px solid #FF0000;
}

.highlight-dscript_green pre {
    border: 1px solid #00FF00;
}

.highlight-dscript_blue pre {
    border: 1px solid #0000FF;
}

div[class^="highlight-dscript"] .s { /* string: "double quoted" */
    color: #0066FF;
    font-weight: normal;
    font-style: normal;
}

div[class^="highlight-dscript"] .sb { /* string-backtick: 'single quoted' */
    color: #0099BB;
    font-weight: normal;
    font-style: normal;
}

div[class^="highlight-dscript"] .nt { /* name-tag: <tag> */
    color: #444444;
    font-weight: bold;
    font-style: normal;
}

div[class^="highlight-dscript"] .gr { /* generic-error: %old_defs% */
    color: #000000;
    background-color: #FF6666;
    font-weight: normal;
    font-style: normal;
}

div[class^="highlight-dscript"] .c1 { /* comment-single: #- code comment */
    color: #AA6600;
    font-weight: normal;
    font-style: normal;
}

div[class^="highlight-dscript"] .nv { /* name-variable: [brackets] */
    color: #5500FF;
    font-weight: normal;
    font-style: normal;
}

div[class^="highlight-dscript"] .nc { /* name-class: yaml keys */
    color: #0000FF;
    font-weight: normal;
    font-style: normal;
}

div[class^="highlight-dscript"] .ch { /* comment-hashbang: # +-- header comment */
    color: #CC0000;
    font-weight: normal;
    font-style: normal;
}

div[class^="highlight-dscript"] .c { /* comment: # regular comment */
    color: #007700;
    font-weight: normal;
    font-style: normal;
}

div[class^="highlight-dscript"] .k { /* keyword: - commandname */
    color: #000000;
    font-weight: normal;
    font-style: italic;
}

div[class^="highlight-dscript"] .o { /* operator: the . in tags */
    color: #000000;
    font-weight: normal;
    font-style: normal;
}
